/* Logo Styling */
.logo img {
    height: 60px;
    width: 40px;
}

/* Navbar Container */
.navbar {
    background-color: #dd3d4e;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* Left Section (Logo & Menu) */
.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Menu Items */
.menu {
    display: flex;
    gap: 20px;
    font-size: 18px;

}

/* Right Section */
.right {
    min-width: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    color: grey;
}

  
  @media (max-width: 480px) {
    .navbar {
      padding: 0.5rem 0.75rem;
    }
    
    .left {
      gap: 0.75rem;
    }
    
    .logo {
      height: 28px;
    }
  }
/* Mobile View */
@media (max-width: 768px) {
    .menu {
      display: block;
    }
  
    .sidebar-collapsed {
      width: 0;
      overflow: hidden;
    }
  }
