.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 30%;
  background-color: #f4f4f4; /* Adjust color */
  padding: 20px;
}

.content {
  width: 70%;
  padding: 20px;
}

